<div class="alert alert-primary" role="alert">
  <h2 class="alert-heading">Important Note!</h2>
   <p>
    Due to the nature of this worker proposal, the BitShares Blockchain
    Foundation has limited outreach as an escrow in this particular case.
    However, we have put considerable efforts into proper due diligence
    and feel comfortable taking this proposal one step further.
   </p>
   <hr/>
   <p>
    Of course, we will provide our usual transparency for the funds
    provided by the BitShares community and will seek out to obtain
    the maximum outcome.
   </p>
</div>
